<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_login.css' %}">
</head>
<body>
    <img src="{% static 'images/yadro.png' %}" alt="Логотип" class="top-left-image">

    <div class="login-container">
        <h1>Вход</h1>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    {% if forloop.last %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST" action="{% url 'login_view' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Имя пользователя" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>

        <p><a href="{% url 'register' %}">Нет аккаунта? Зарегистрируйтесь!</a></p>
        <p><a href="{% url 'home' %}">На главную</a></p>
    </div>
</body>
</html>
